@import url(cabecalho.css);
@import url(main.css);
@import url(planos.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "inter", sans-serif;
    background: #000000;
    color: #FFFFFF;
    width: 1440px;
    height: 65px;
}

